    *{

        border: 0;
        padding: 0;
        margin: 0;
        font-family: 'Calibri';
    }

    body
    {
        background: #FFF;
    }

    #fundo
    {
        margin: 0 auto;
    }

    #perguntas ul
    {
        text-decoration: none;
        font-size: medium;
        font-family: inherit;
        text-align: center;
        font-size: 30px;
        list-style-type: none;
    }

    #perguntas ul li a
    {
        margin-top: 20px;
        text-decoration: none;
        font-size: medium;
        font-family: inherit;
        text-align: center;
        color: #080;
        border-bottom: 5px solid #ccc;
    }

    #perguntas ul li a:hover
    {
        color: #6D6D6D;
        border-bottom:7px solid #080;
    }

    #perguntas ul h1 li
    {
        font-weight: normal;
        font-size: 44px;
        color: darkolivegreen;
    }

   #banner
    {
        background: #FFF;
    }

    #banner img
    {
        margin-left:35%
    }

    #imagem img
    {
        margin: 0 auto;
    }

    #menu > ul
    {
        padding-right: 25px;
        padding-left: 25px;
        margin: 0px;
    }

    #menu > ul
    {
        padding-right: 20px;
        padding-left: 20px;
        margin:0px;
        background-color:#EDEDED;
        border-bottom: 5px solid #ccc;
        list-style-type: none;
    }

    .item
    {
        padding-right: 80px;
        padding-left: 80px;
    }

    #menu ul li
    {
        display: inline;
        font-size: 19px;
        -webkit-transition: height 2s ease;
        -moz-transition: height2s ease;

    }

    #menu ul li:hover
    {
        background-color:#D6D6D6;
        color: #6D6D6D;
        border-bottom:7px solid #080;
    }

    #menu ul li a
    {
        text-decoration: none;
        color: #080;
    }

    #conteudo
    {
        color: #008B00;
        height: 320px;
        margin-right:10%;
        margin-left: 10%;
    }

    #conteudo p
    {
        margin-top: 5%;
        text-align: justify;
    }

    #imagem
    {
        display: block;
    }

    #imagem img
    {
        display: block;
        margin: 60 auto;
    }

    footer
    {
        margin-top: 20px;
        height: 115px;

        background-color: #fff;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

    }

    footer p
    {
        margin-top: 2px;
        color: #008B00;
        text-align: center;
    }

    .container > ul
    {
        list-style-type: none;
    }